{% extends "base.html" %}

{% block title %}List of Items - My Website{% endblock %}

{% block content %}
    <h1>List of Items</h1>
    
    <form action="/add" method="POST">
        <ul>
            {% for item in item_list %}
                <li>
                    <input type="checkbox" name="selected_items" value="{{ item }}" id="{{ item }}">
                    <label for="{{ item }}">{{ item }}</label>
                </li>
            {% endfor %}
        </ul>

        <input type="submit" value="Submit">
    </form>
{% endblock %}