<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>
    <style>
        html {
            background-image: url("{{ url_for('static', filename='images/possible_backgrounds/bird_flying.jpg') }}");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%; 
            margin: 0; 
        }
    </style>
</head>
<body>
    <header>
        <h1>BIRD WATCHERS</h1>
    </header>
    <nav>
        <ul>
            <li><a class="current" href="/home">Home</a></li>
            <li><a href="/view">My Catalogue</a></li>
            <li><a href="/rem">Edit Catalogue</a></li>
            <li><a href="/identify">Bird Search Tool</a></li>
            
        </ul><br>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
