{% extends "base.html" %}

{% block title %}Remove Document - My Website{% endblock %}

{% block content %}
    <h1 style="text-align:center">Remove Document</h1><br>
    <form action="rem/newDeletedDocument" style="background-color:white; display:inline-block" method="POST">
        <!-- Need a name for the respective preset so the user knows what to ask for later -->
        <!-- Make it easier to recall for them. -->
        <div style="background:black;color:white;">FROM THIS LIST PICK WHICH ONES YOU WOULD LIKE TO DELETE</div><br><br>
        all posts: {{ all_posts }}<br>
        document in all_posts
        {% for document in all_posts %}
            {{ document }}<br>
        {% endfor %}
    </form>
{% endblock %}
